.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

.navbar {
  background-color: #67a3f1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar #text-right {
  text-align: right;
}
.navbar #text-left {
  text-align: left;
}
.navbar img {
  height: 20px; /* Adjust the height of the image as needed */
}

.navbar a img {
  margin-right: 5px;
  height: 20px; /* Adjust the height as needed */
  width: auto;
}

.login-button {
  background-color: #0c75ec;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}